

  h2 {
    color: #000;
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }
  /* https://alvarotrigo.com/blog/html-css-tabs/ */

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #32557f;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }

  .panels {
    background: #fff;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
  }

  .panel {
    display: none;
    animation: fadein 0.8s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .panel-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .radio {
    display: none;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel {
    display: block;
  }

  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab {
    background: #fff;
    color: #000;
    border-top: 3px solid #32557f;
  }

  html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #292929;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

div#header {
    position: relative;
}

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: #e0e0e0;
    color: #292929;
}

div#header a {
    position: absolute;
    right: 0;
    top: 23px;
    padding: 10px;
    color: #006;
}

div#navigation {
    background: #7cb71c;
}

div#navigation li {
    list-style: none;
}

div#extra {
    background: #147FA9;
}

div#footer {
    background: #42444e;
    color: #fff;
}

div#footer p {
    padding: 20px 10px;
}

div#wrapper {
    float: left;
    width: 100%;
}

div#content {
    margin: 0 25%;
}

div#navigation {
    float: left;
    width: 25%;
    margin-left: -100%;
}

div#extra {
    float: left;
    width: 25%;
    margin-left: -25%;
}

div#footer {
    clear: left;
    width: 100%;
}
